@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --website-width: 1200px;
}
* {
  font-family: arial;
  box-sizing: border-box;
}
.logo-image {
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
}

.logo-image img {
  z-index: -1;
}

.logo-image:hover {
  transform: scale(1.1);
}

.logo-grid {
  max-width: 1200px;
  padding: 2rem;
}
.btn {
  background: black;
  color: white;
}
.selected {
  border: 5px solid black;
}

.success {
  border: 2px solid green;
  background: lightgreen;
  opacity: 0.85;
}

.error {
  border: 2px solid red;
  background: red;
  opacity: 0.85;
}

.player-grid {
  max-width: 1200px;
  width: 80vw;
}
.player-grid img {
  align-self: center;
  z-index: -1;
}

.player-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem;
  border: 2px solid black;
}

.player-image {
  height: 10rem;
}
.loading {
  height: 100px;
  width: 100px;
  border: 10px solid blue;
  border-top-color: white;
  border-radius: 50%;
  animation: spinner 0.75s linear infinite;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-section {
  max-width: var(--website-width);
}

.login-form {
  max-width: 300px;
}
.form-container {
  /* width: 30vw;
	height: 50vh;
	background: green; */
  /* transform: translateY(-20%); */
}

.form-loading {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;

  width: 100%;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-section {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  align-items: center;
  z-index: 10;
  height: 50vh;

  background-color: white;
  position: absolute;
  width: 100vw;
}

.counter {
  right: 0;
}

.quiz-container {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.quiz-summary {
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  opacity: 0.9;
}
.quiz-summary img {
  width: 25%;
}

.taken {
  filter: brightness(90%);
  background: white;
}

.fail,
.pass,
.excellent {
  filter: brightness(90%);
  background: white;
  border: 5px solid red;
}
.pass {
  border: 5px solid orange;
}
.excellent {
  border: 5px solid green;
}

.modal-button {
  background: black;
  color: white;
  font-weight: bold;
  padding: 0.25rem;
  margin-top: 1rem;
  font-size: 0.75rem;
  border-radius: 5px;
}
.modal-button:hover {
  background: #333;
  cursor: position;
}

.quiz-modal {
  height: 100%;
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;

  font-weight: bold;
}
.modal-content {
}
.quiz-modal img {
  width: 50%;
  transform: translateX(50%);
}

.navbar {
  background: black;
  height: 5rem;
  color: white;
  margin-bottom: 2rem;
  /* z-index: 1000; */
}

.logos-section {
  min-height: calc(100vh - 17rem);
}
@media screen and (max-width: 768px) {
  .logos-section {
    min-height: calc(100vh - 10rem);
  }
}

.showcase {
  height: 70vh;
  /* width: 90vw; */
  background: url(https://cdn.nba.com/manage/2017/08/opening-night-sked-split.jpg)
    center/cover no-repeat;
  color: white;
}
.showcase:before {
  content: '';
  left: 0;
  position: absolute;
  height: 70vh;
  background: #000;
  width: 100%;
  opacity: 0.65;
}

.legend {
  right: 2rem;
  bottom: 0rem;
  /* height: 100%; */
  padding: 0.5rem 1.5rem;
  flex: none;
  border-color: black;
  border-radius: 5px;
  background-color: #bbb;
}

.legend-color {
  margin-right: 1rem;
}
.quizzes-container {
  max-width: 80vw;
}
@media screen and (max-width: 1100px) {
  .quizzes-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .quizzes-container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}

/* .hamburger {
	background: red !important;
} */

.sidebar {
  height: 1px;
  width: 1px;
  opacity: 0;
  transform: translateY(100vh);
  transform: translateX(50vw);
  border-radius: 50%;
  z-index: -1;
}

.sidebar-open {
  height: 100vh;
  width: 100vw;
  border-radius: none;
  display: flex;
  opacity: 1;
  z-index: 100;
}

.sidebar-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  /* display: none; */
  position: fixed;
  top: 0;
}
.sidebar-section.sidebar-open {
  z-index: 100 !important;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .legend {
    bottom: -0.5rem;
    transform: scale(0.65);
    right: 0rem;
  }
}

@media screen and (max-width: 850px) {
  .legend {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .quiz-container {
    height: 40vh;
    padding: 0;
  }
  .quiz {
    padding: 0;
  }
  .player-div {
    padding: 0.5rem;
    margin: 0;
  }
}

.data-formats {
  border: 1px solid black;
}
.active {
  background: #bbb;
}

.data-image {
  width: 30px;
}

.results-container {
  width: 80vw;
  max-width: 1200px;
}
.bar-graph {
  width: 70vw;
  height: 40vh;
  max-width: 1200px;
  /* height: 50%; */
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .results-container {
    flex-direction: column;
    width: min-content;
  }
  .results-container div {
    margin: 1rem 0;
  }
  .bar-graph {
    width: 95vw;
    max-width: 1200px;
    margin-left: -1rem;
  }
}
@media screen and (max-width: 500px) {
  .bar-graph {
    display: none;
  }
  .history-menu {
    flex-direction: column;
  }
  .history-menu * {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 410px) {
  .bar-graph {
    height: 30vh;
  }
}

.login-form {
  width: 400px;
}

#form-container,
#form-container-login {
  background: url(https://pbs.twimg.com/media/CHgYZ9lUwAEtzDB.png) center
    center/cover no-repeat;
  margin-top: -3rem;
  margin-bottom: -5rem;
  height: calc(100vh - 10rem);
  position: relative;
}
#form-container-login {
  background: url(https://i.pinimg.com/originals/6d/cb/a8/6dcba8bcb9b19be3ad17ce388d38449a.jpg)
    top center/cover no-repeat;
}

#form-container:before,
#form-container-login:before {
  content: '';
  position: absolute;
  height: inherit;
  width: 100vw;
  background: black;
  opacity: 0.7;
}
#form-container *,
#form-container-login * {
  position: relative;
}

@media screen and (max-width: 768px) {
  #form-container,
  #form-container-login {
    height: calc(100vh - 2rem);
  }
}

@media screen and (max-width: 550px) {
  .season-explanation {
    font-size: 1.25rem;
  }
}
